* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #364e8b;
}

.logo {
  color: white;
  font-size: 22px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
  transition: all 0.5s ease-in-out;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.burger {
  cursor: pointer;
  display: none;
  transition: all 0.5s ease-in-out;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
}

.nav-active {
  transform: translateX(0%) !important;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 55%;
  }
}

@media screen and (max-width: 768px) {

  body {
    overflow-x: hidden;
  }

  .burger {
    display: block;
  }

  .nav-links {
    position: fixed;
    right: 0;
    height: 92vh;
    top: 8vh;
    background-color: #364e8b;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
  }

  .nav-links li {
    opacity: 0;
  }
}

@keyframes navLinksFade {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
  transition: all 0.5s ease-in-out;
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(405deg) translate(-5px, -6px);
  transition: all 0.5s ease-in-out;
}